.jumbotron-hero {
        background-image: url(image_tag('images/photo-hero.jpeg'));
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
